{% extends "blog/base.html" %}
{% block title %}All Posts {% endblock %}


{% block content %}
<h1>All Posts</h1>

{% for post in posts %}
    <div>
        <h2>
            <a href="{% url 'blog:post-detail' pk=post.pk %}">
                {{post.title}}
            </a>
        </h2>
        <p>By {{post.author}} || {{post.created_at|date:"d M Y"}} </p>
        {% if post.category %}
            <p>Category: {{post.category.name}} </p>
        {% endif %}
    </div>
    <hr>
{% empty %}
    <p>No Posts yet. </p>
{% endfor %}

{% endblock  %}